{% extends 'mainblog.html' %}
{% block body %}
<div class='container2'>
<h2>Добавить игру которой нет в списке</h2>
<form action = '/cybercheats/gamescheats/anothergame/adds/' method = 'post'>
    {% csrf_token %}
    <p>Загловок статьи:{{ forms.anothergame_title }}</p>
    
    <p><small>В заголовке укажите название чита*</small></p>
    
    <span>Описание:</span>
    <p>{{ forms.anothergame_body }}</p>
    <p class='glav3'>Ссылка на чит:{{ forms.anothergame_cheatlink }}</p>
    <input type='submit' value = 'отправить' class='btn btn-success'>
</form>
</div>
{% endblock %}