{% extends 'mainblog.html' %}
{% block body %}
<div class='container2'>
<h2>Добавление статьи fortnite</h2>
<form action = '/cybercheats/gamescheats/fortnite/adds/' method = 'post'>
    {% csrf_token %}
    <p>Загловок статьи:{{ forms.fortnite_title }}</p>
    
    <p><small>В заголовке укажите название чита*</small></p>
    
    <span>Описание:</span>
    <p>{{ forms.fortnite_body }}</p>
    <p class='glav3'>Ссылка на чит:{{ forms.fortnite_cheatlink }}</p>
    <input type='submit' value = 'отправить' class='btn btn-success'>
</form>
</div>
{% endblock %}