{% extends 'mainblog.html' %}
{% load staticfiles %}
{% block articles %}
<p></p>
<div class='containerforarticles'>
    {% for articles in items %}
    <a href = '/cybercheats/gamescheats/rust/{{articles.id}}/'><h1>{{articles.rust_title}}</h1></a>
   <span>Статья опубликована {{articles.rust_date}} |</span>
    <span> Автор статьи <strong>{{articles.rust_author.get_full_name}}</strong></span>
    <hr>
    {% endfor %}
    </div>
    <div class='container2'>
    {% include 'pagination.html'%}
    </div>
{% endblock %}
    